.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    width: 32em;
    max-width: 100%;
    padding: 0 0 1.25em;
    border: none;
    border-radius: 5px;
    background: var(--bgcolor);
    color: var(--color3);
    font-family: inherit;
    font-size: 1rem;
}
.swal2-input, .swal2-file, .swal2-textarea {
    border-color: var(--color1);
}